
      <nav class="navbar navbar-expand-md navbar-fixed-top nightblue-bg" style="width: 100vw; position: fixed; z-index: 10;">
        <!-- Brand -->
        <a class="navbar-brand" href="/home" style="color: #fff">FantApp</a>
      
        <!-- Toggler/collapsibe Button -->
        <div (click)="menuToggle()" style="width: 30px; color: #fff; font-size: 20px;">
          <i class="fas fa-bars"></i>
        </div>
      
        <!-- Navbar links -->
        <div id="navbarSupportedContent" [ngStyle]="{'display': this.status===1 ? 'block' : 'none'}" class="nightblue-bg" style="width: 100vw; height: 70vh;position: absolute; top: 50px; left: 0; z-index: 7; color: #fff"> <!--  [ngStyle]="{'display': this.status===1 ? 'block' : 'none'}" -->
          <!-- User details -->
          <div class="green-bg" style="width: 90%; margin: 20px auto; border-radius: 5px; padding: 15px; color: #fff">
            <strong>Nome Allenatore</strong><br/>
            <span>e-mail</span>
          </div>
          <!-- Links -->
          <div class="" style="width: 90%; margin: 20px auto; border-radius: 5px; padding: 15px; color: #fff">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a href="/home">Home</a>
              </li>
              <li class="nav-item">
                <a href="/clubs">Svincolati</a>
              </li>
              <li class="nav-item">
                <a>Statistiche Giocatori</a>
              </li>
              <li class="nav-item">
                <a>Statistiche Lega</a>
              </li>
              <li class="nav-item">
                <a>Info Lega</a>
              </li>
              <li class="nav-item">
                <a>Partecipanti</a>
              </li>
              <li class="nav-item">
                <a>Impostazioni</a>
              </li>
              <li class="nav-item" class="green-text" style="margin-top: 10px;">
                <span>Logout</span>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      
    
<router-outlet></router-outlet>